ipykernel
ipython
{% if cookiecutter.project_packages == "All" -%}
jupyter
jupyterlab
{% endif -%}
{% if cookiecutter.project_packages == "All" -%}
missingno
{% endif -%}
numpy
pandas
scipy
matplotlib
seaborn
scikit-learn
{% if cookiecutter.project_packages == "All" -%}
--find-links https://download.pytorch.org/whl/cpu
--external-find-links https://download.pytorch.org/whl/cpu
wheel
tensorflow-cpu
keras
torch==2.1.2+cpu
{% endif -%}
plotly
